 <%= flash[:error] %>
<%= form_for(@customer) do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@customer.errors.count, "error") %> errores en el formulario:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

      <%= image_tag("bannertop.png", class: "bannertop", :alt => "Redllantas - Promoción Raspa y Gana") %>
        <br>
        <br>
        <br>

        <div class="col-lg-8 col-lg-offset-2">
          <form class="form-signin">
            <h2 class="form-signin-heading">Ingresa tus datos</h2>
            <br>
            <div class="row">
              <div class="col-md-6">
                    <%= f.label :name, "Nombre Completo", class: "insert-code" %><br>
                    <%= f.text_field :name, class: "form-control" %>
               <!-- <label for="inputEmail" class="">Nombre <small class="requerido"> (Requerido)</small></label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Nombre" required autofocus> -->
              </div>
              <div class="col-md-4">
                    <%= f.label :cc, "Cédula", class: "insert-code" %><br>
                    <%= f.text_field :cc, class: "form-control" %>      
         
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= label_tag :code, "Ingresa tu código", class: "insert-code" %><br>
                <%= text_field_tag :code, nil, class: "form-control" %>
            
              </div>
              <div class="col-md-4">
                <%= label_tag :prize, "Premio ganado", class: "insert-code" %><br>
                <%= text_field_tag :prize, nil, class: "form-control" %>
              
              </div> 
              <div class="col-md-4">
                <%= label_tag :invoice, "Número de factura", class: "insert-code" %><br>
                <%= text_field_tag :invoice, nil, class: "form-control" %>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= f.label :phone, "Teléfono", class: "insert-code" %><br>
                <%= f.text_field :phone, class: "form-control" %>

              </div>
              <div class="col-md-4">
                 <%= f.label :cellphone, "Celular", class: "insert-code" %><br>
                 <%= f.text_field :cellphone, class: "form-control" %>

              </div>
              <div class="col-md-4">
                 <%= f.label :email, "Correo Electrónico", class: "insert-code" %><br>
                 <%= f.text_field :email, class: "form-control" %>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                 <%= f.label :city, "Ciudad", class: "insert-code" %><br>
                 <%= f.text_field :city, class: "form-control" %>

              </div>
              <div class="col-md-4">
                 <%= f.label :dealer, "Distribuidor", class: "insert-code" %><br>
                 <%= f.text_field :dealer, class: "form-control" %>

               </div> 
            </div>
            <br>
            <br>
            <div class="col-md-3 col-md-offset-9">
              <div class="actions">
                <%= f.submit "Inscribirse", class: "btn btn-lg btn-danger pull-right" %>
              </div>

            </div>
            
          </form>
         </div>  
<% end %>
