<!DOCTYPE html>
<html>
<head>
  <title>Redllantas</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">

		<%= yield %>


		<footer class="container">
		    <nav class="navbar navbar-default navbar-fixed-bottom">
		        <div class="navbar-inner navbar-content-center">
		        	<div class="row">
		        		<div class="col-sm-2 col-sm-offset-1">
		        			<br>
		        					<%= link_to "Ver términos y condiciones", "http://www.redllantas.com/politicas-de-raspaygana", target: "_blank", class: "footer-link" %>
		        		</div>
		        		<div class="col-sm-6">
		        			<p class="footer-text"> Por la compra de dos llantas de las marcas KUMHO, OVATION, ZETA,MULTIMILE, FULLRUN, DURATION para automóvil y/o camioneta, reclamas completamente gratis una tarjeta (1) RASPA Y GANA, la cual contiene un código numérico oculto que debes descubrir al raspar, con el cual podrás ganar premios inmediatos y además participar en el sorteo de un  CHEVROLET SPARK LIFE.  Solo hay que inscribir el código numérico que sale al raspar la TARJETA en la página www.redllantas.com. </p>
		        		</div>
		        		<div>
		        			<%= link_to image_tag("logo-footer.png", alt: "Redllantas - Distribuidores de llantas en Colombia", class: "footer-logo"), 'http://redllantas.com', target: "_blank" %>
		        		</div>
		            	
		            </div>
		            <br>
		            <br>
		        </div>
		    </nav>
		</footer>
	</div>
</body>
</html>
