<!DOCTYPE html>
<html>
<head>
  <title>Redllantas</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">

		<%= yield %>


		<footer class="container">
		    <nav class="navbar navbar-default navbar-fixed-bottom">
		        <div class="navbar-inner navbar-content-center">
		        	<div class="row">
		        		<div class="col-sm-3 col-sm-offset-1">
		        					<%= link_to "Ver términos y condiciones", "http://www.redllantas.com/politicas-de-promocion-mundialista", target: "_blank", class: "footer-link" %>
		        		</div>
		        		<div class="col-sm-4">
		        			<p class="footer-text"> Oferta válida del 15 de abril a 15 de junio de 2014. Aplica para llantas de vehículo y camioneta de las marcas KUMHO, OVATION, ZETA, MULTIMILE y FULLRUN. *Balones hasta agotar existencias</p>
		        		</div>
		        		<div>
		        			<%= link_to image_tag("logo-footer.png", alt: "Redllantas - Distribuidores de llantas en Colombia", class: "footer-logo"), 'http://redllantas.com', target: "_blank" %>
		        		</div>
		            	
		            </div>
		            <br>
		            <br>
		        </div>
		    </nav>
		</footer>
	</div>
</body>
</html>
